<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>
        we are learning json today.

    </h1>
    <script>
        var person= {"firstname" : "anisha",
        "lastname" : "shaji",
        "age":25,
        "checkedin": true
    }; // object is created.
    var person2 = {
            "Name": "Joe",
            "Last Name": "Miller",
            "Address": {
                "Street": "Neverland 42"
            },
            "Hobbies": [
                "doing stuff",
                "dreaming"
            ],
            "cars" : [{
                "make" : "bnw",
                 "year" : 2016
            },   { "make" : "bw",
                 "year" : 2017
                }]
        };
        var obj1 = {
            "friends": [{
                "first": "Mike",
                "last": "Smith"
            }, {
                "first": "Jordan",
                "last": "Jones"
            }, {
                "first": "Alice",
                "last": "Grey"
            }, {
                "first": "Stu",
                "last": "Average"
            }]
        };
        for(i=0; i++; i<obj1.friends.length){
            console.log(obj1);
        }
        </script>

<a href="https://github.com/mb21/JSONedit"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png" alt="Fork me on GitHub"></a>

<div id="mainView" ng-controller="MainViewCtrl">
    <h2>JSONedit</h2>

    <div class="jsonView">
        <json child="jsonData" default-collapsed="false" type="object"></json>
    </div>

    <hr>
    <div>
        <textarea id="jsonTextarea" ng-model="jsonString"></textarea>
        <span class="red" ng-if="!wellFormed">JSON not well-formed!</span>
    </div>
</div>

</div>
</body>
</html>